body, html, h1 {
    font-family: sans-serif;
    background-color: #f3ffe2;
}
#container {
}
.label {
}
.column {
    float: left;
}
.plot {
    font-size: 10px;
    position: relative;
    margin: auto;
    border: 1px solid #444;
    height: 90px;
    background-color: #fff;
}
.value {
    float: left;
    width: 100px;
    height: 92px;
}
#column-0 {
    width: 640px;
}
#column-1 {
    width: 200px;
}
#column-2 {
    width: 100px;
}
